@media screen and (max-width:992px){
    .top-banner,.navBar{
        display: none;
    }
    .nav-for-mobile{
        display: flex;
        justify-content: space-between;
        margin: 4px 15px 0px 15px;
       
    }
    #logo-mobile{
        width: 200px;
        height: 36px;
    }
    .hamBurger{
        padding-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
    }
    #banner-img{
        width: 70vw;
    }
    .banner{
        flex-wrap: wrap-reverse;
    }
    .left>p{
        font-size: 1.1em;
        text-align: left;
    }
    .left{
        width: 80%;
        text-align: center;
    }
    .left>h1{
        font-size: 1.9em;
        /* width: 0%; */
        /* display: inline-block; */
    }
    #link-button{
        width: 90%;
    }
    
    li{
        padding-right: 200px;
        display: inline-block;
    }
    #hamfnc:checked ~#hamclick{
        display: flex;   
        flex-direction: column;
        justify-content: normal;
        align-items: flex-start;
        height: 100vh;
        width: 50vw;
        gap: 20px;
        top: 0;
        position: fixed;
        background-color: white;
        list-style: none;
        right: 0;
        padding: 4em 5em 0;
        z-index: 100;
        transform: translate(0px);
        /* transition: all 3s ease 0s; */
    }
    .cards{
        max-width: 100%;
        
    }
    .cards p{
        font-size: 1em;
        text-align: center;
        width: 200px;
    }
    .footer-section{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .lists{
       flex-direction: column;
       text-align: center;
       gap: 30px;
    }
}
@media screen and (min-width:320px) and (max-width:772px){
    #hamfnc:checked~#hamclick{
        width: 300px;
    }
     .img {
        width: 60vw;
    }
   
    
}
@media screen and (max-width:320px){
     .img{
        width: 90vw;
    }
    
    
}
