*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* font-weight: 400; */
    /* font-style: normal; */
    /* object-fit: contain; */
    
}
.holder{
    max-width: 1180px;
    margin: auto;
    padding: 20px;
}
.top-banner{
    height: 44px;
    max-width: 100%;
    background-color: #E74694;
    text-align: center;
    background-image: url("https://usabilityclone.vercel.app/images/asset 32.png");
    background-size: 300px;
    color: white;
}
span{
    display: block;
    padding: 8px 0 0 0;
}
#logo{
    width: 250px;
    height: 47px;
  padding-left: 20px;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    margin: 0px 0px 10px 0px;
    /* background-color: blue; */
}
.nav-bar-lists{
    list-style: none;
    display: flex;
    width: 700px;
    /* flex-wrap: wrap ; */
    justify-content: space-evenly;
    align-items: center;
    /* flex-grow: 0.5; */
    padding-right:20px ;
}
.btns{
    width: 103px;
    height: 49px;
    border: 1px solid #2294ed;
    background-color: transparent;
    border-radius: 7px;

}
#btn-signUp{
    background-color: #2294ed;
    color: #ffff;
    /* margin-right: 100px; */
}
.nav-for-mobile{
    display: none;
}

#banner-img{
    width: 40vw;
}
.banner{
    /* height: 550px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px 20px 0px 20px;
}
.left>h1{
    font-size: 3em;
    color: #183b56;
    /* font-weight: 1000; */
    margin-bottom: 16px;
}
.left > p{
    color: #183b56;
    font-size: 17.6px;
    margin-bottom: 32px;
}
#link-button{
    background-color: #2294ed;
    color: white;
    border-radius: 8px;
    padding: 12px 24px;
    text-decoration: none;
    display: inline-block;
}
input[type=checkbox]{
    display: none;
}
#hamclick{
    display: none;
}
.close-btn{
    position: absolute;
    right: 25px;
    top: 15px;
    display: none;
    /* color: transparent; */
    z-index: 1000;
}

.companies-container{
    margin-top: 2.6em;
    padding: 0px 20px 0px 20px;
}
.companies{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.companies-container p{
    text-align: center;
    margin-bottom: 16px;
}
.companies img{
    width: 120px;
    height: 74px;
    object-fit: contain;
}
.heading2{
    font-weight: 600;
    padding-top: 6em;
    letter-spacing: 1.1px;
    text-align: center;
}
.feature-btn{
    text-align: center;
    margin: 13px 0px;
    /* padding: 12px 24px; */
    /* border: 1px solid blue; */
}
.feature-btn a{
    padding: 12px 24px;
    border: 1px solid #2294ed;
    border-radius: 8px;
    text-decoration: none;
    color: #183b56;
    display: inline-block;
}
.icon-arrow{
    color: #2294ed;
}
.features{
    margin-bottom: 30px;
    padding-bottom: 0px;
}
.feature-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 100px;
  
}
.cards{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    max-width: 30%;
    text-align: center;
}
.cards p{
        font-size: 1.1em;
        text-align: center;
        color: #577592;
}
.cards img{
    width: 40px;
    height: 60px;
}
.learnmore-btn{
    padding: 0.4em 2em;
    color: #577592;
    border: 1px solid #0076e4;
    border-radius: 8px;
    text-align: center;
}
a{
    text-decoration: none;
    display: inline-block;
}
.img{
    width: 34vw;
}

.big-features{
    display: flex;
    flex-direction: column;
    gap: 6em;
    padding: 0px;
  
}
.feature1,.feature2{
    display: flex;
    justify-content: space-evenly;
    gap: 36px;
    flex-wrap: wrap;     
}   
.feature3{    display: flex;
    justify-content: space-evenly;
    gap: 36px;
    flex-wrap: wrap-reverse;   

}
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 24rem;
}
.text{
    color: #333333;
    font-weight: 200;
    font-size: 1.1em
}
.img-name{
    width: 120px;
}
.quoted-text{
    font-size: 1.12em;
    color: #333333;
    line-height: 21px;
    font-weight: lighter;
    padding: 20px 30px 0px 35px;
}
.human-section{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 7px;
    padding-left: 15px;
}
.human-section img{
    width: 60px;
}
footer{
    padding-top: 5em;
    background-color: #EBF2FA;
    width: 100%;
    /* min-width: 1160px; */
}
.footer-section{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.footer-logo img{
    width: 230px;
}
.lists{
    display: flex;
    gap: 80px ;
}
.product,.method,.resource{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sub-footer{
    background-color: #b9cde4;
    padding: 20px;
}
.main-sub-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
}
.policy{
   display: flex;
   gap: 20px;
}
.social{
    display: flex;
    gap: 30px;
}
.img-width{
    width: 24px;
}
.policy a{
    font-size: 0.8em;
}